{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>اداره کل تبلیغات اسلامی یزد</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{% static "plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/adminlte.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="inedexback">
<a href="{% url "index" %}">
    <img class="logo" src="{% static "/img/logo2.png" %}">
</a>
<div class="navbar">
    <div class="navitem">
        <a style="color: #0a0e14" href="{% url "index" %}">
            <i class="fa fa-home"> خانه</i>
        </a>
    </div>
</div>
<div class="myWork">
    <div class="big">
        <img src="{% static "/img/sideimage.jpg" %}">
    </div>
    <div class="mainproject">
        <img src="{% static "/img/logo.png" %}">
    </div>
    <div class="sidemenu">
        <div class="myitems">
            <a href="{% url "EatekafIndex" %}">
                <img src="{% static "/img/eatekaf.png" %}">
                <h5>سامانه اعتکاف</h5>
            </a>
        </div>
        <div class="myitems twoice">
            <a href="https://tooba.tdm-ido.ir/">
                <img src="{% static "/img/toba.png" %}">
                <h5>سامانه طوبی</h5>
            </a>
        </div>
        <div class="myitems twoice">
            <a href="https://telavat.ir/">
                <img src="{% static "/img/talavat.png" %}">
                <h5>سامانه تلاوت</h5>
            </a>
        </div>
    </div>

</div>
<div class="poem"><p>.تمام حقوق این وبسایت برای اداره کل تبلیغات اسلامی استان یزد محفوظ است.</p></div>
</body>
</html>