{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <title>ثبت نام اعتکاف 1402</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "main.css" %}">
    <style>
        #id_sex option[value="3"]{
            display:none;
        }
        #id_sex option[value="4"]{
            display:none;
        }
    </style>

</head>
<body>
<div class="background"></div>

<form name="myform" method="post" action="{% url "signupurl" %}" enctype='multipart/form-data' onsubmit="return checkCheckBoxes(this);">
    {% csrf_token %}
    <div class="squarsign">
        <h3 class="hoshdar">مساجد بر اساس شهرستان، جنسیت و سن فرد به معتکفین نشان داده می شوند. دقت کنید فیلتر ها را حتما درست انتخاب کنید</h3>
        <h3 class="hoshdar">و حتما یکبار منوهای شهرستان، جنسیت و سن را انتخاب کنید</h3>
        <h3 class="hoshdar">در صورت اشتباه از ورود فرد به مسجد جلوگیری می شود</h3>
        <h3 class="hoshdar"> اتباع از قسمت شهرستان سازمان مهاجرین را انتخاب کنند یا با هماهنگی والی مسجد ثبت نام کنند</h3>
        <h3 style="font-size: 24px;" class="hoshdar"> کلید ثبت را حتما بزنید و کارت خود را دریافت کنید </h3>

        <h3 class="title">مشخصات فردی</h3>
        <div class="radif" >
            {{ form.melicode| as_crispy_field }}
            {{ form.name| as_crispy_field }}
            {{ form.family| as_crispy_field }}
        </div>
        <div class="radif" >
            {{ form.education| as_crispy_field }}
            {{ form.marital| as_crispy_field }}
            {{ form.dad| as_crispy_field }}
        </div>
        <div class="radif">
            {{ form.city| as_crispy_field }}
            {{ form.sex| as_crispy_field }}
            {{ form.age| as_crispy_field }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>با قوانین اعتکاف موافقم</p>
            {{ form.testimonial }}
        </div>
        <hr style="margin-top: 5%" width="80%" color="white">
        <div class="changeform" id="changeform">
            <h3 class="title">انتخاب مسجد</h3>
            {% include "selectmosque.html" %}
            {% include 'mosquedescription.html' %}
        </div>
        <h3 class="title">توانایی های شما</h3>
        <div class="testimonial" id="testimonial">
            <p>عکاسی</p>
            {{ abilityForm.photo }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>تدوین گر</p>
            {{ abilityForm.editor }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>فیلم بردار</p>
            {{ abilityForm.camera }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>تولید خبر</p>
            {{ abilityForm.news }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>نویسندگی</p>
            {{ abilityForm.writer }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>مدیریت کانال مجازی</p>
            {{ abilityForm.adminis }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>شاعر</p>
            {{ abilityForm.poemer }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>مداح و روضه خوانی</p>
            {{ abilityForm.madah }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>مبلغ</p>
            {{ abilityForm.adv }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>پشتیبانی</p>
            {{ abilityForm.backup }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>فنی و مهندسی</p>
            {{ abilityForm.engine }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>مدرس</p>
            {{ abilityForm.teach }}
        </div>
        <div class="testimonial" id="testimonial">
            <p>کودک و نوجوان</p>
            {{ abilityForm.child }}
        </div>

        <button id="submit" class="btnsubmit" type="submit">ثبت</button>
    </div>
</form>
<script type="text/javascript" language="JavaScript">
    function checkCheckBoxes(myform) {
        if (myform.testimonial.checked === false)
        {
            alert ('لطفا با قوانین اعتکاف موافقت کنید.باتشکر');
            return false;
        } else {
            return true;
        }
    }
</script>
<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 5,
        spaceBetween: 150,
        speed: 3000,
        slidesPerGroup: 5,
        loop: true,
        loopFillGroupWithBlank: true,
        autoplay: {
            delay: 5000,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        // Add more options as needed
    });
</script>
<script>
    document.getElementById("id_city").setAttribute("hx-get","{% url 'selectMosque' %}");
    document.getElementById("id_city").setAttribute("hx-trigger","change");
    document.getElementById("id_city").setAttribute("hx-target","#mosquehadi");
    document.getElementById("id_city").setAttribute("hx-include","[name='sex'], [name='age']");

    document.getElementById("id_sex").setAttribute("hx-get","{% url 'selectMosque'  %}");
    document.getElementById("id_sex").setAttribute("hx-trigger","change");
    document.getElementById("id_sex").setAttribute("hx-target","#mosquehadi");
    document.getElementById("id_sex").setAttribute("hx-include","[name='city'], [name='age']");

    document.getElementById("id_age").setAttribute("hx-get","{% url 'selectMosque'  %}");
    document.getElementById("id_age").setAttribute("hx-trigger","change");
    document.getElementById("id_age").setAttribute("hx-target","#mosquehadi");
    document.getElementById("id_age").setAttribute("hx-include","[name='city'], [name='sex']");

</script>
</body>
</html>